<div><table>
<% var i;for (i=0; i< quizes.length; i++){ %>
  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table></div>
<p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<div>
<!-- Para el ejercicio final del modulo 7 inserto el formulario para filtrar
las preguntas -->

<form method="get" action="/quizes">
Filtro preguntas<p>
  <input type="text" name="search" value="">
  <input type="submit" value="Enviar">
</form>
</div>
